@green: #3c9;

// Reset
h1, h2, h3, h4, h5, h6, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  background-color: @green;
  color: white;
  padding: 1em;
  position: relative;

  h1 {
    text-align: center;
  }

  a {
    color: white;
  }

  .header-links {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .header-link {
    font-size: 32px;
  }
}

chore-list-item {
  display: block;
  font-size: 24px;
  padding: .5em;

  li {
    list-style-type: none;
    padding-left: 1em;
    padding-top: .3em;
    position: relative;
  }

  i {
    position: absolute;
    right: 0;
  }
}
